table.scroll {
    width: 100%;
    border-spacing: 0;
}
table.scroll tbody,
table.scroll thead { 
    display: block; 
}
thead tr th { 
    height: 30px;
}
#tablePartAssigned tbody{
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#tableVehictleType tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
#tablePartCategory tbody{
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;    
}
table.scroll tbody{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody td, thead th {
    width: 400px;
}
tbody td:last-child, thead th:last-child {
    border-right: none;
}
